html, body
{
	height : 100%;
}

/* animation code */
@keyframes change-background
{
	0% {background: linear-gradient(to top, var(--main-bg-clr), var(--secondary-bg-clr));}
	25% {background: linear-gradient(to right, var(--main-bg-clr), var(--secondary-bg-clr));}
	50% {background: linear-gradient(to bottom, var(--main-bg-clr), var(--secondary-bg-clr));}
	75% {background: linear-gradient(to left, var(--main-bg-clr), var(--secondary-bg-clr));}
	100% {background: linear-gradient(to top, var(--main-bg-clr), var(--secondary-bg-clr));}
}

body
{
  --main-bg-clr: #00ffff;
	--secondary-bg-clr : #ff8000;
  display: flex;
	justify-content: center;
	flex-wrap:wrap;
	animation-name: change-background;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

nav
{ 
  display: block;
	/* width: 100%;  */
  height: 3.5em;
	
}

nav a 
{
	display: block;
	/* float: left; */
/*We're just setting up fonts settings here*/
	font-family: sans-serif;
	font-size: 1em;
	color: white;
/*Box Method Test AKA handicap*/
	background-color: var(--main-bg-clr);
	border: 1px solid #000;
 
 /*Padding Our Box*/
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
	margin:5px;
}

nav a:hover 
{
	background-color: var(--secondary-bg-clr);
}

#logo 
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Hind', sans-serif;
	text-shadow: 1px 1px 2px #c4c4c4;
	font-size: 2em;


}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {    
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	/* min-width: 160px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/* padding: 12px 16px; */
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-wrap:wrap;
	flex-direction: column;
}

