html, body
{
	height : 100%;
}

/* animation code */
@keyframes change-background
{
	0% {background: linear-gradient(to top, #00ffff, #ff8000);}
	25% {background: linear-gradient(to right, #00ffff, #ff8000);}
	50% {background: linear-gradient(to bottom, #00ffff, #ff8000);}
	75% {background: linear-gradient(to left, #00ffff, #ff8000);}
	100% {background: linear-gradient(to top, #00ffff, #ff8000);}
}

body
{
	background: linear-gradient(to top, #00ffff, #ff8000);
	display: flex;
	justify-content: center;
	animation-name: change-background;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}
