html, body
{
	height : 100%;
}

/* animation code */
@keyframes change-background
{
	0% {background: linear-gradient(to top, var(--main-bg-clr), var(--secondary-bg-clr));}
	25% {background: linear-gradient(to right, var(--main-bg-clr), var(--secondary-bg-clr));}
	50% {background: linear-gradient(to bottom, var(--main-bg-clr), var(--secondary-bg-clr));}
	75% {background: linear-gradient(to left, var(--main-bg-clr), var(--secondary-bg-clr));}
	100% {background: linear-gradient(to top, var(--main-bg-clr), var(--secondary-bg-clr));}
}

body
{
  --main-bg-clr: #00ffff;
	--secondary-bg-clr : #ff8000;
  display: flex;
	justify-content: center;
	align-items: center;
	animation-name: change-background;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
